{% extends '_layouts/base' %}


{% block body %}

	{# Global Site Header #}
    {% include '_components/global/header' %}

	<main class="flex-grow">
	{% block site %}
	{% endblock %}
	</main>

	{# Global Site Footer #}
    {% include '_components/global/footer' %}

{% endblock %}