{% set fill = fill | default('#888B8D') %}
{% set width = width | default('150') %}
{% set height = height | default((width / 2)|round(1, 'ceil')) %}
{% set class = class | default('') %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}" viewBox="0 0 250 77" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="logo">
<title>Logo</title>
      <g id="Group_12" data-name="Group 12" transform="translate(24251.242 16425)">
    <g id="logo_-_colour_no_tag" data-name="logo - colour no tag" transform="translate(-24251.242 -16244.068)">
      <g id="MOCA" transform="translate(240.242 4.846)">
        <path id="path14" d="M248.13-1985.289H749.036L896.6-1482.463c7.7,27.133,15.521,62.106,23.261,93.133,13.6,67.955,19.385,106.793,29.137,205.8,7.721-99.009,13.609-135.92,29.136-205.8,5.807-32.987,13.516-62.106,23.268-93.133l145.632-502.826h500.8l229.12,1399.7H1405.21L1345-1140.8l-3.867-40.805c0-5.823-1.933-15.539-1.933-27.155-9.747-79.606-11.681-106.8-17.476-196.121-5.785,102.937-11.661,145.632-29.135,194.19l-21.333,64.034-168.9,561.067H795.646L624.81-1146.652,603.4-1210.686c-15.463-52.417-25.2-95.149-30.988-194.19-5.889,114.587-9.747,161.177-21.428,264.081L488.931-585.585H19.11l229.02-1399.7" transform="translate(-259.353 2004.686)" fill="#ad640b"/>
        <path id="path18" d="M2472.88-896.337c0,160.315,104.393,278.008,249.1,278.008,142.906,0,245.287-117.693,245.287-279.91,0-158.37-104.29-276.143-245.287-276.143C2577.273-1174.382,2472.88-1056.609,2472.88-896.337Zm249.1-724.091c449.9,0,754.95,291.592,754.95,724.091,0,432.514-305.054,724.1-754.95,724.1-451.829,0-756.91-291.584-756.91-724.1s305.081-724.091,756.91-724.091" transform="translate(-347.474 1615.582)" fill="#534018"/>
        <path id="path22" d="M4241.119-1451.436c-81.544-71.852-161.058-106.762-250.434-106.762-159.159,0-281.449,120.341-281.449,275.662,0,155.352,120.365,271.759,279.523,271.759,91.3,0,166.965-29.082,252.36-89.313v495.077c-141.7,34.975-227.069,48.521-316.393,48.521-419.324,0-731.892-306.75-731.892-710.536,0-409.614,322.247-737.658,726.038-737.658,67.936,0,143.7,9.682,221.319,25.189,32.992,5.888,52.4,11.68,100.928,25.291v502.77" transform="translate(-17.374 2004.686)" fill="#ad640b"/>
        <path id="path26" d="M4994.378-1094.2h211.566l-58.162-231.043-7.82-34.944c-19.424-73.78-27.135-126.2-38.774-252.362-9.693,124.237-17.514,174.687-36.9,252.362l-9.766,34.944Zm-180.539-891.089h576.536l483.456,1399.7H5345.8l-52.5-178.608H4910.92l-52.4,178.608H4330.492l483.348-1399.7" transform="translate(-17.374 2004.686)" fill="#ad640b"/>
      </g>
    </g>
    <g id="copyright" transform="translate(-642 -2283)">
      <path id="path42" d="M190.319-52.415a134.42,134.42,0,0,1-30.211,11.346A138.217,138.217,0,0,1,127.3-37.241q-50.99,0-80.79-28.434-29.8-28.571-29.8-77.373,0-48.939,29.8-77.373,29.8-28.571,80.79-28.571a138.215,138.215,0,0,1,32.808,3.828,134.42,134.42,0,0,1,30.211,11.346v42.241A114.811,114.811,0,0,0,161.475-206.2a95.733,95.733,0,0,0-29.938-4.648q-28.16,0-44.291,18.045T71.116-143.048q0,31.578,16.131,49.623t44.291,18.045a95.732,95.732,0,0,0,29.938-4.648,114.811,114.811,0,0,0,28.844-14.627Z" transform="translate(-17641.494 -13817.835)" fill="#534018"/>
      <g id="Ellipse_10" data-name="Ellipse 10" transform="translate(-17704 -14142)" fill="none" stroke="#534018" stroke-width="35">
        <circle cx="181" cy="181" r="181" stroke="none"/>
        <circle cx="181" cy="181" r="163.5" fill="none"/>
      </g>
    </g>
  </g>
</svg>